@import "src/styles/variables.scss";

.login {
  height: 100%;
  display: flex;

  .login-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    border: 1px solid $border;
    border-radius: 25px;
    padding: 40px;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      appearance: textfield;
      -moz-appearance: textfield;
    }

    h2 {
      margin-bottom: 2rem;
      text-align: center;
    }

    button {
      margin-top: 2rem;
    }
  }
}
