@import 'src/styles/variables.scss';

.profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-infobox {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border;
    border-radius: 25px;

    &__header {
      border-bottom: 1px solid $border;

      h3 {
        text-align: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
    }

    &__footer {
      border-top: 1px solid $border;
      padding: 20px;

      button {
        width: 100%;
      }
    }
  }
}
